.heading{
  background-color: rgb(255, 137, 156);
  padding-top: 4px;
  padding-bottom: 4px;
  display :flex;
  justify-content: center;
  margin-bottom: 0;
}
.insidematch{
  margin-top: 13px;
  display:grid;
  grid-template-columns: 1fr 1fr 70px 1fr;
  margin-bottom: 20px;
}
.left_box{
  margin-left: 10px;
}
p{
  margin-top: 10px;
}
.imagemum{
  margin-left: 10px;
  width:100px;
  height:100px;
  border-radius:50px;
  border: 1px solid rgb(0, 0, 0);
}
.team_name{
  display: grid;
  grid-template-columns: 150px 1fr;
}
.versus{
  margin-top: 30px;
}
.score{
  color :rgb(255, 0, 0);
}
.empty{
  margin-top:60px;
}