table{
  background-color:white;
  color:black;
  width: 100%;
  margin-top: 0px;
}
.teami{
  margin-left: 0;
}
.team:hover{
  cursor:pointer;
  text-decoration: none;
}
td{
  margin-left: 70px;
}
.header_table{
  color:white;
  background-color:#263D88;
}
th{
  margin-left: 0;
}
tr{
  display:grid;
  height:40px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 2px;
}
.header_table:hover{
  background-color: #263D88;
}
.grayrow{
  background-color:rgb(255, 255, 255);
}
.whiterow{
  background-color:rgb(235, 235, 235);
}
tr:hover{
  background-color: #8e9ed4;
}