<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/CSS/matches.css">
    <link rel="stylesheet" href="../static/CSS/header.css">
    <link rel="stylesheet" href="../static/CSS/dropdownstyle.css">
    <link rel="stylesheet" href="../static/CSS/match.css">
  </head>
  <body>
    <div class="header_entry">
      <div style="flex:1" class="ipl_part">
        <div>
          <img class="ipl_logo" src="../static/images/ipl.jpg" alt="IPL 2020">
        </div>
        <div style="margin-left:10px; font-style: italic; font-size: 30px;">
          <a class="home" href="./home.html">IPL 2020</a>
        </div>
      </div>
      <div  style="flex:1" class="middle_header">
        <div class="right_boxes">
          <a class="right_box" href="./matches.html">Matches</a>
        </div>
        <div class="right_boxes">
          <a class="right_box" href="./home.html">Teams</a>
        </div>
        <div class="right_boxes">
          <a class="right_box" href="./player.html">Players</a>
        </div>
        <div class="dropdown"><!--can use select once check-->
          <button class="dropbtn">More ...</button>
          <div class="dropdown-content">
            <a class="dropdown" href="#">DELIVERIES</a>
            <a class="dropdown" href="#">MVP</a>
            <a class="dropdown" href="#">ABOUT</a>
            <a class="dropdown" href="#">ADMIN</a>
          </div>
        </div>
      </div>
      <div class="right_header">
        <button onclick="location.href='./login.html'" class="but" type="button">login</button>
        <form autocomplete="on"><input class="Search_bar" type="text" placeholder="  Search..."></form>
      </div>
    </div>
  <body>
    <div class="heading">MUMBAI WON BY 2 WICKETS</div>
    <div class="left_box">
      <p class="location">TUESDAY 25 OCTOBER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4:30(IST)&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WANKHADE,MUMBAI</p>
    </div>
    <div class="insidematch">
      <div class="left_boxw">
        <div class="team_name">
          <div><img class="imagemum" src="../static/images/mum.png" alt="mumbai indians"></div>
          <div>
            <p>MUMBAI INDIANS</p>
            <p class="score">127/8</p>
            <p>(ov: 20/20)</p>
            <p>extras (5 wd 1 nb 2 lb)</p>
          </div>
        </div>
        <div class="table_matchl">
          <table class="tablem">
            <th colspan="2" class="row">
              BATTING
            </th>
            <tr class="trow">
              <td class="row">
                R Sharma 
              </td>
              <td class="row">
                45(43)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                S yadav
              </td>
              <td class="row">
                55(49)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                De cock
              </td>
              <td class="row">
                0(7)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                tilak
              </td>
              <td class="row">
                28(21)
              </td>
            </tr>
            <th colspan="2">
              BOWLING
            </th>
            <tr class="trow">
              <td class="row">
                bravo
              </td>
              <td class="row">
                37/0(4)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                ashwin
              </td>
              <td class="row">
                21/0(4)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                lungi
              </td>
              <td class="row">
                18/2(4)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                jadeja
              </td>
              <td class="row">
                28/3(4)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                D Chahar
              </td>
              <td class="row">
                21/2(4)
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="versus">
        vs
      </div>
      <div class="left_boxw">
        <div class="team_name">
          <div><img class="imagemum" src="../static/images/index.jpg" alt="mumbai indians"></div>
          <div>
            <p>CHENNAI BETTING KINGS</p>
            <p class="score">126/6</p>
            <p>(ov: 20/20)</p>
            <p>extras (5 wd 1 nb 2 lb)</p>
          </div>
        </div>
        <div class="table_matchl">
          <table class="tablem">
            <th colspan="2" class="row">
              BATTING
            </th>
            <tr class="trow">
              <td class="row">
                R Sharma 
              </td>
              <td class="row">
                45(43)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                S yadav
              </td>
              <td class="row">
                55(49)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                De cock
              </td>
              <td class="row">
                0(7)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                tilak
              </td>
              <td class="row">
                28(21)
              </td>
            </tr>
            <th colspan="2">
              BOWLING
            </th>
            <tr class="trow">
              <td class="row">
                bravo
              </td>
              <td class="row">
                37/0(4)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                ashwin
              </td>
              <td class="row">
                21/0(4)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                lungi
              </td>
              <td class="row">
                18/2(4)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                jadeja
              </td>
              <td class="row">
                28/3(4)
              </td>
            </tr>
            <tr class="trow">
              <td class="row">
                D Chahar
              </td>
              <td class="row">
                21/2(4)
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <footer class="footer_entry">
      <small>copyrights<sup>R</sup></small>
    </footer>
  </body>
</html>